body {
  background-color: #CC998D;
  }

.bottomFlex {
 
}

a:link {
  color: black;
  
}

a:visited {
  color: black;
}

a:hover {
  color: #CC998D;

}


a:active {
  color: black;

} 

h3 {
  letter-spacing: 3px;
  background-color:#F6D4CB;
  margin: 2em;
  text-align: center;
  font-family: Optima, sans-serif;
  font-variant: small-caps;
}

h4 {
  font-family: Optima, sans-serif;
  font-variant: small-caps;
  letter-spacing: 3px;
}

h5 {
 /* text-decoration: underline; */
  letter-spacing: 3px;
  background-color:#F6D4CB;
  margin: 2em;
  text-align: center;
  font-family: Optima, sans-serif;
  font-variant: small-caps;
  /* color: #F6D4CB; */
}

.famousPeeps { 
  border-left: 6px solid black;
  background-color: #1DBBCD;
  font-family: Optima, sans-serif;
  text-align: left;
  /* font-variant: small-caps; */
  letter-spacing: 2px;
 margin: .4em;
  
}

.funFacts {
  border-left: 6px solid black;
  background-color: #1DBBCD;
  font-family: Optima, sans-serif; 
  text-align: left;
  /* font-variant: small-caps; */
  letter-spacing: 2px;
  margin: .4em;
  
}

.landmarks {
  background-color: #1DBBCD;
  border-left: 6px solid black;
  margin: .4em;
}

.map {
  background-color: #1DBBCD;
  border-left: 6px solid black;
  margin: .4em;
}